[Unit]
Description=Bluetooth Speaker Connectionmonitor
After=syslog.target

[Service]
Type=simple
User=lms
Environment=LIBASOUND_THREAD_SAFE=0
WorkingDirectory=/etc/pyserver
ExecStart=/etc/pyserver/btspeaker-monitor.py
SyslogIdentifier=btspeaker-monitor
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
